body {
  background-color: #fbfbfb;
  padding: 20px;
}

h2 {
  	font-family: "Open Sans";
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    color: #555;
}

overview {
  display: block;
  padding: 0 20px 0 20px;
}

#pulse-container {
  height: 600px;
}

.side-by-side {
  display: inline-block;
  width: 500px;
  padding: 0 20px 0 20px;
}

.bubble {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: inline-block;
}

#risks .bubble {
  background-color: #ff6968;
}

#opportunities .bubble {
  background-color: #94ff9d;
}

